li{
	display:inline-block;
	padding: 10px;
	margin-right: 5px;
}
li:hover{
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
}
body ul>li>div img:nth-child(1){
	width: 200px;
	height: 200xp;
	border-radius: 5px;
}
.title{
	font-size:16px;
	color: #4D4D4D;
	font-weight: bold;
	margin-top:15px;
	margin-bottom: 15px;
}
.name{
	font-size: 14px;
	color: #640000 ;
	margin-top:10px;
	margin-bottom: 10px;
}
.count{
	font-size: 12px;
	color: blue;
	margin-top:10px;
	margin-bottom: 10px;
}
